.modal-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s ease;
    pointer-events: none; 
}
.modal-overlay.open {
    opacity: 1; 
    pointer-events: auto; 
    z-index: 1000;
    height:75vw;
}
.modal-content {
    background: #F8F8F8;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    position: relative; 
    text-align: center;
    height: auto;
    transform: translateY(-20px); 
    opacity: 0; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    
}
.modal-content.open {
    transform: translateY(0);
    opacity: 1; 
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 40px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.email{
    display: flex;
    margin-left: 90px;
    font-weight: 700;
}
.senha{
    display: flex;
    margin-left: 90px;
    font-weight: 700;
}
.submit-button {
    padding: 10px;
    background-color: #47A138;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.submit-button:hover {
    background-color: #005bb5;
}

.forgot-password {
    margin-top: 10px;
    display: flex;
    margin-left: 90px;

}

.forgot-password a {
    color: #47A138;;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-icon {
    margin-top: 20px;
    width: 50px;
    height: auto;
}


/* responsividade*/
@media (max-width: 768px) {
    .modal-content {
        width: 90%; 
       margin-bottom: auto;
        padding: 15px; 
        height: auto;
   
    }
    .modal-overlay{
        height: 90vw;
    }

    .form-group {
        margin-bottom: 10px; 
    }

    .submit-button {
        width: 20%; 
    }

    .imgLogin {
        display: none;
    }
    .imgLogin {
        width: 80%;
        height: auto; 
        margin: 0 auto; 
        display: block; 
    }
    .email{
        margin-left:77px ;
    }
    .senha{
        margin-left: 77px;
    }
    .forgot-password{
        margin-left: 77px;
    }
    .modal-overlay.open {
        opacity: 1; 
        pointer-events: auto; 
        z-index: 1000;
        height:490vw;
    }
}