.modal-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  position: relative;
  height: auto;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-register.open {
  max-width: 792px;
}

.register-container {
  max-width: 589px;
}

.form-register {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 90%;
}
.form-group {
  margin-bottom: 15px;
}

.input-name-register {
  width: 100%;
  padding: 10px;
  border: 1px solid #dee9ea;
  border-radius: 8px;
  color: #8b8b8b;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
}

.input-email-register {
  width: 100%;
  padding: 10px;
  border: 1px solid #dee9ea;
  border-radius: 8px;
  color: #8b8b8b;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
}

.input-password-register {
  width: 40%;
  padding: 10px;
  align-self: flex-start;
  display: flex;
  border: 1px solid #dee9ea;
  border-radius: 8px;
  color: #8b8b8b;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
}

.input-checkbox-register {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #47a138;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}

.input-checkbox-register:checked {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #47a138;
  background-color: #47a138;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  position: relative;

  &::after {
    content: "✓";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.group-checkbox {
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 10px;
  max-width: 650px;
}

.name-register {
  display: flex;
  font-weight: 700;
  margin-bottom: 10px;
}
.email-register {
  display: flex;
  font-weight: 700;
  margin-bottom: 10px;
}
.password-register {
  display: flex;
  font-weight: 700;
  margin-bottom: 10px;
}

.submit-button-register {
  padding: 8px;
  background-color: #ff5031;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 20%;
  &:hover {
    background-color: #47a138;
    color: white;
    border: none;
  }
}

/* responsividade*/
@media (max-width: 768px) {
  .modal-register {
    width: 75%;
    padding: 10px;
  }

  .form-register {
    width: 100%;
  }

  .register-container {
    max-width: 75%;
  }

  .input-password-register {
    width: 70%;
  }
  .submit-button-register {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .modal-register {
    width: 80%;
    padding: 10px;
  }

  .form-register {
    width: 90%;
  }

  .group-checkbox {
    font-size: 14px;
  }
}
