@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex; 
}

a{
  text-decoration: none;
  color: inherit;
}


.container {
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, #FFFFFF, #004D61);
}
.h3{
  font-size: 20px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 96%;
  padding: 1rem 2rem;
  background-color: black;
  z-index: 1000; 
}
.nav-links {
  display: flex;
  gap: 2rem; 
  margin-right: 32%;
  
}

.nav-link {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color:#47A138; 
}

.nav-link:hover {
  color: white; 
}

.button-container {
  display: flex;
  gap: 1rem; 
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute; 
  background-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 1001; 
  margin-left: 40px;
}
.bloco-centra{

  display: flex;
  margin-top: 10%;
  margin-left: 19%;
  margin-right: 8%;
}
.bloco-centra h2{
  align-content: center;
}
.ilustracao{
  width: 50vw;
}
.vantagemBanco{
  text-align: center;
}



.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #47A138; 
  color:#47A138; 
}

.button.secondary {
  background-color: transparent; 
  color: #47A138;
  border: 2px solid #47A138; 
}

.button.secondary:hover {
  background-color: #47A138; 
  color: white; 
}

.button:hover {
  background-color: #47A138; 
  color:white;
}



.advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
}
.advantages h3{
  color: #47A138;
}
.advantages p{
  font-family: sans-serif;
  color: #767676;
  font-size: 16px;
  line-height: 120%;
}

.advantage {
  flex: 0 1 200px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.tituloContaCartao{
  inline-size: max-content;
}

.footer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: black; 
  color: white; 
  padding: 2rem;
  border-top: 1px solid white;
}

.services, .contact, .footer-logo {
  text-align: center; 
  margin: 1rem 0;  
}

.footer-logo img {
  display: block;
  margin: 0 auto; 
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.row {
	flex-direction: row;
}
.row-reverse {
	flex-direction: row-reverse;
}
.column {
	flex-direction: column;
}
.column-reverse {
	flex-direction: column-reverse;
}

.grow1 {
	flex-grow: 1;
}

/* Responsividade */
@media (min-width: 768px) {
  .footer {
      flex-direction: row;
  }

  .services, .contact, .footer-logo {
      flex: 1; 
  }
}
@media (max-width: 768px) { 
  .bloco-centra {
      flex-direction: column; 
      margin-top: 20%;
  }
}
@media (min-width: 768px) {
  .menu-button {
      display: none;

      
  }
  .nav-link{
    display: none;
  } 
}


@media (max-width: 768px) {
  .nav-links {
      display: none; 
  }
  .button-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    margin: 0 auto; 
    max-width: 400px; 
}

.button {
    flex: 1; 
    margin: 0 5px; 
    color: white;
    border: black;
    font-size: 16px;
}
.button.secondary{
border:1px solid black;
color: black;
font-weight: 700;
font-size: 16px;
}
  .menu-button {
    display: block; 
    background: transparent;
    border: none;
    color: #47A138;
    font-size: 45px;
    cursor: pointer;
  }
  .header {
      justify-content: space-between; 
  }
  .imgLogo{
    margin-right: 50px;
  }
  .ilustracao img{
    width: 400px;
    height: 400px;
  }

}
.dropdown {
  max-height: 0; 
  overflow: hidden; 
  transition: transform 0.3s ease, opacity 0.3s ease; 
  opacity: 0; 
}

.dropdown.open {
  max-height: 200px; 
  opacity: 1; 
}