.user-page {
    display: flex;
    flex-direction: column; /* Coloca a navbar no topo */
}

.content {
    display: flex;
    flex-wrap: wrap; /* Para o layout lado a lado */
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.main-content{
    background-color: #004D61;
    padding: 1rem;
    border-radius: 8px;
    min-width: 690px;
    min-height: 420px;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column; 
        margin-left: 0; 
        margin-top: 20px; 
    }

    .sidebar {
        width: 94vw; 
        height: auto; 
        box-shadow: none; 
    }

    .main-content {
        padding: 10px; 
    }
}

