.user-page {
    display: flex;
    flex-direction: column; 
}

.navbar {
    background-color: #004D61;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100vw;
}

.navbar-content {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    margin-right: 20%;
}

.username {
    color: white;
    margin-right: 50px;
}

.user-icon {
    border-radius: 50%; 
    cursor: pointer; 
}

.user-menu {
    position: absolute; 
    right: 20px; 
    top: 60px; 
    background-color: black; 
    color: white; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
}

.user-menu-list {
    list-style-type: none; 
    padding: 0; 
}

.user-menu-item {
    margin: 10px 0; 
    cursor: pointer; 
}

.user-menu-item:hover {
    text-decoration: underline; 
    color: #47A138; 
    font-weight: 700;
}

.content {
    display: flex; 
    width: 100%;
    margin-left: 15%;
    margin-top: 30px;
}

.sidebar {
    width: 180px; 
    background-color: #f8f8f8; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    height: calc(100vh - 60px); 
    text-align: center;
}

.menu-list {
    list-style-type: none; 
    padding: 0; 
}

.menu-item {
    margin: 10px 0; 
    cursor: pointer; 
    
 
}

.menu-item:hover {
    text-decoration: underline;
    color: #47A138; 
    font-weight: 700;
}

.main-content {
    flex: 1; 
    padding: 20px;
}
.balance-card {
    background-color: #007B7F; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: -23px;
    width: 50%;
    height: 400px;
}

.balance-info {
    display: flex;
    align-items: center;
    margin-right: 13%;
    justify-self: flex-end;
    padding-bottom: 10px;
    width: 28%;
    border-bottom: 1px solid #FF5031;
}
.balance-info span{
    font-size: 20px;
    font-weight: 600;
}

.balance-info button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 30px;
    color: #FF5031;
}
.valorSaldo{
    justify-self: end;
    margin-right: 13%;
    font-size: 29px;
    font-weight: 400;
    margin-top: -10px;
}
.contaCorrente{
    font-size: 16px;
    font-weight: 400;
    margin-right: 22%;
    justify-self: end;
}

/* Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column; 
        margin-left: 0; 
        margin-top: 20px; 
    }

    .sidebar {
        width: 94vw; 
        height: auto; 
        box-shadow: none; 
    }

    .main-content {
        padding: 10px; 
    }

    .user-menu {
        position: static; 
        margin-top: 10px; 
    }
    .menu-list{
        display: flex;
        justify-content: space-around;
    }
    .menu-list hr {
        display: none; 
    }
    .menu-item:hover {
        text-decoration: underline; 
        color: #47A138; 
        font-weight: 700;
    }
    .balance-card {
        margin-top: 0;
        width: 88%;
        padding-top: 30px; 
        background-image: url('/cofre-saldo.png');
        background-repeat: no-repeat;
        background-position: left bottom; 
    }.contaCorrente{
        margin-right: 24%;
    }
    .valorSaldo{
        margin-right: 17%;
    }
}

